<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>8기 homework 이도연</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Yeon+Sung&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        type="text/javascript"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <style>
        .mytitle {
            width: 270px;
            height: 300px;

            background-image: url('https://shop-phinf.pstatic.net/20200428_174/1588063625484xnUbK_JPEG/25424364118206365_627191054.jpg?type=m450');
            background-position: center;
            background-size: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
            /* 테두리 둥글게 */
            border-radius: 10px;
            /* 정렬 */
            text-align: center;
            /* 내부 여백 */
            padding-top: 40px;
        }

        .wrap {
            /* 외부 여백 */
            margin: 10px auto;
            text-align: center;
            width: 500px;
            /* 구글 임의 폰트 적용 */
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Yeon Sung', cursive;
            font-family: 'Jua', sans-serif;
        }

        .info-temp {
            font-size: 15px;
            font-weight: bold;
            color: gray;
        }
    </style>

    <script>
        function hey() {
            // 1. 이름, 수량, 주소, 번호 내용을 가져옵니다.
            let name = $('#name').val();
            let op = $('#op').val();
            let address = $('#address').val();
            let phone = $('#phone').val();

            // 2. 이름, 수량, 주소, 번호 내용을 하나라도 입력하지 않을 경우 alert을 띄웁니다
            if (name == '') {
                alert('이름을 입력해주세요');
                $('#name').focus();
                return;
            } else if (op == '수량을 선택하세요 (최대3개)') {
                alert('수량을 선택해주세요')
                $('#op').focus();
                return;
            } else if (address == '') {
                alert('주소를 입력해주세요')
                $('#address').focus();
                return;
            } else if (phone == '') {
                alert('전화번호를 입력해주세요')
                $('#phone').focus();
                return;
            } else {
                alert('주문이 완료되었습니다!');
            }

            // 3. POST /orders 에 저장을 요청합니다.
            $.ajax({
                type: "POST", // 타입을 작성합니다.
                url: "/orders", // url을 작성합니다.
                data: { name_give: name, op_give: op, address_give: address, phone_give: phone }, // data를 작성합니다. },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            })
        }

        $(document).ready(function () {
            $('#orders-box').html('');
            listing();
        });

        function listing() {
            // 1. 주문 목록을 서버에 요청하기
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {}, 
                success: function (response) {
                    if (response['result'] == 'success') {
                        let orders = response['orders'];
                        // 3. 요청 성공했을 때 주문 올바르게 화면에 나타내기
                        for (let i = 0; i < orders.length; i++) {
                            make_card(i+1, orders[i]['name'], orders[i]['op'], orders[i]['address'], orders[i]['phone']);
                        }
                        // 2. 요청 성공했을 때 주문을 올바르게 화면에 나타내기
                    } else {
                        alert('주문을 받아오지 못했습니다');
                    }
                }
            })
        }

        function make_card(number, name, op, address, phone) {
            let temp_html = `<tr>
                        <td>${number}</td>
                        <td>${name}</td>
                        <td>${op}</td>
                        <td>${address}</td>
                        <td>${phone}</td>
                    </tr>`;
            $('#orders-box').append(temp_html);
        }

        // web 오픈 즉시 실행
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        if (response[i]['name'] == 'USDKRW=X') {
                            $('#exchange').text(response[i]['rate']);
                            return;
                        }
                    }
                }
            })
        })
    </script>
</head>

<body>
    <div class="wrap">
        <h1 class="mytitle"></h1>
        <p></p>
        <span style="font-size: 30px;">건담 초특가</span>
        <span style="font-size: 15px;"> 1,000원 / 1개 </span>
        <p></p>
        <h6>1979년 최초로 등장해 기존의 로봇 애니메이션의 개념을 바꿔 놓은 작품!</h6>
        <p></p>

        <div class="info-temp">달러-원 환율: <span id="exchange">1242.75</span></div>
        <p></p>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">주문자 성함</label>
            </div>
            <input id="name" type="text" class="form-control" placeholder="" aria-label=""
                aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">수량</label>
            </div>
            <select id="op" class="custom-select" id="inputGroupSelect01">
                <option selected>수량을 선택하세요 (최대3개)</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">주소</label>
            </div>
            <input id="address" type="text" class="form-control" placeholder="" aria-label=""
                aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">전화번호</label>
            </div>
            <input id="phone" type="text" class="form-control" placeholder="" aria-label=""
                aria-describedby="basic-addon1">
        </div>

        <button onclick="hey()" type="button" class="btn btn-secondary btn-sm">주문하기</button>
        <p></p>
        <p></p>

        <div class="orders">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">이름</th>
                        <th scope="col">수량</th>
                        <th scope="col">주소</th>
                        <th scope="col">전화번호</th>
                    </tr>
                </thead>
                <tbody id="orders-box">
                    <tr>
                        <th scope="row" id="number">1</th>
                        <td id="name">Otto</td>
                        <td id="op">@mdo</td>
                        <td id="address">@mdo</td>
                        <td ie="phone">@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="small-font">
            <p>주문자 성함 : <input type="text"></p>
            <p>수량 : <input type="text"></p>
            <p>주소 : <input type="text"></p>
            <p>전화번호 : <input type="text"></p>
        </div>
        <button>주문하기</button> -->
    </div>
</body>

</html>